body {
  background: #efefef;
  font-size: 16px;
  color: #333333;
}

.section {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.section .section-wrapper {
  position: relative;
  z-index: 2;
}

.section-home {
  background: url('../images/section-home.jpg') center no-repeat;
  background-size: cover;
  color: #ebebeb;
  z-index: 1;
}

.section-home::after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, .7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.section-home .logo {
  height: 100px;
}

.section-sales .card-img-top, 
.section-products .card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.section-news .carousel .carousel-item, 
.section-product .carousel .carousel-item {
  position: relative;
  height: 50vh;
  z-index: 1;
}

.section-news .carousel .carousel-item::after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, .7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.section-news .carousel .carousel-caption {
  z-index: 2;
}

.section-news .carousel .carousel-image, 
.section-product .carousel .carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-reviews {
  background: url('../images/section-reviews/bg.svg');
  background-color: #fcfcfc;
}

.section-reviews .review img {
  width: 100%;
  object-fit: cover;
}

.section-product .list-group .list-group-item {
  background: #fcfcfc;
}

.section-product .other-products .card .card-img-top {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.section-footer {
  margin-bottom: 0
}